%content-heading {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 400;
}

%content-description {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: #7b8484;
    line-height: 26px;
    word-wrap: break-word;
}

%selector-light {
    color: #000;
    background: #e4e4e4;
}

%selector-dark {
    color: #fff;
    background: #000;
}

%icon-dimension {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40px;
    min-width: 40px;
    display: block;
}

%icon-email {
    @extend %icon-dimension;
    background-image: url('../assets/envelope-square-solid.svg');
}

%icon-linkedin {
    @extend %icon-dimension;
    background-image: url('../assets/linkedin-brands.svg');
}

%icon-github {
    @extend %icon-dimension;
    background-image: url('../assets/github-square-brands.svg');
}

%icon-insta {
    @extend %icon-dimension;
    background-image: url('../assets/instagram-square-brands.svg');
}

%icon-stackoverflow {
    @extend %icon-dimension;
    background-image: url('../assets/stack-overflow-brands.svg');
}