.home-header {
    color: #fff;
    text-align: center;

    &-elevator {
        font-family: 'Gentium Book Basic', serif;
        font-style: italic;
        font-size: 18px;
    }

    &-name {
        @extend .home-header;
        font-family: 'Sen', sans-serif;
        font-size: 80px;
        font-weight: bolder;
        margin: 10px;
    }

    button {
        font-family: 'Sen', sans-serif;
        font-size: 15px;
        color: #fff;
        background-color: #36B3A8;
        border: none;
        padding: 16px 28px;
        font-weight: bold;
        border-radius: 32px;

        &:hover {
            cursor: pointer;
            background-color: #309e95;
        }

        &:focus {
            outline: none;
        }
    }
}