@import 'common';
.home-header {
    color: #fff;
    text-align: center;
    padding-top: 55px;

    &-elevator {
        font-family: 'EB Garamond', serif;
        font-style: italic;
        font-size: 20px;
        transform: translateY(-20px);
    }

    &-name {
        font-family: 'Sen', sans-serif;
        font-size: 80px;
        font-weight: bolder;
        margin: 10px;
        transform: translateY(-30px);
    }

    button {
        font-family: 'Sen', sans-serif;
        font-size: 15px;
        color: #fff;
        background-color: #36B3A8;
        border: none;
        padding: 16px 28px;
        font-weight: bold;
        border-radius: 32px;

        &:hover {
            cursor: pointer;
            background-color: #309e95;
        }

        &:focus {
            outline: none;
        }
    }

    ::selection {
        @extend %selector-light;
    }
}

.home-page {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;

    &-whoami {
        @extend %content-heading;
        transform: translateY(-20px);
    }

    &-whoamians {
        @extend %content-description;
        margin: 0 150px;
        text-align: center;
        transform: translateY(-30px);

        a {
            color: #309e95;
        }
    }

    ::selection {
        @extend %selector-dark;
    }
}

.page-loaded .home-header-elevator, .home-header-name, .home-page-whoami, .home-page-whoamians {
    animation: slideIn 0.7s ease-in 0s forwards;
}